@(userComment : Form[UserComment], existing : Seq[UserComment])


@import helper._


@main("Welcome to Play 2.1") {
    
     @form(routes.Application.submitComment(), 'id -> "userform") {
      @inputText(userComment("username"), 'id -> "username")
      @textarea(userComment("comment"), 'id -> "comment")
     
      <input type="submit" value="Post Submit"/>
    }
      <Button id="postCommentButton">Ajax submit</Button>
    
    <div>
      <ul id="comments">
	    <li>Coffee</li>
	  </ul>
<!-- 	   	@for(usercomment <- existing) { -->
<!-- 	   		<h1>@usercomment.username commented: @usercomment.comment</h1> -->
<!-- 	   	} -->
    </div>
}
