@(userComment : Form[UserComment], existing : Seq[UserComment])


@import helper._


@main("Welcome to Play 2.1") {
    <div id="formDiv" class="form-box">
     @form(routes.Application.submitComment(), 'id -> "userform") {
      @inputText(userComment("username"), 'id -> "username")
      @textarea(userComment("comment"), 'id -> "comment")
     
      <input type="submit" class="button" value="Post Submit"/>
    }
      <Button id="postCommentButton" class="button">Ajax submit</Button>
    </div>
    
    
    <div class="container">
     <ul id="comments">
	 </ul>
    </div>
}
